# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [1]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

/Users/hteshome/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Connecting to 'sqlite:///sql-murder-mystery.db'

In [2]:
%%sql
SELECT name
FROM sqlite_master

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------+
|                  name                 |
+---------------------------------------+
|           crime_scene_report          |
|            drivers_license            |
|         facebook_event_checkin        |
|               interview               |
|           get_fit_now_member          |
| sqlite_autoindex_get_fit_now_member_1 |
|          get_fit_now_check_in         |
|                solution               |
|             check_solution            |
|                 income                |
+---------------------------------------+
Truncated to displaylimit of 10.


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [5]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'crime_scene_report'

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------------------------------+
|                sql                |
+-----------------------------------+
| CREATE TABLE crime_scene_report ( |
|               date integer,       |
|                 type text,        |
|             description text,     |
|                 city text         |
|                   )               |
+-----------------------------------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [78]:
%%sql
INSERT INTO solution VALUES (1, 'Miranda Priestly');
SELECT value FROM solution;

-- Murderer: Jeremy Bowers   Brains: Miranda Priestly

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                            value                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne! |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [19]:
%%sql
SELECT *
FROM crime_scene_report 
WHERE type = "murder" 
    AND date = "20180115" 
    AND city = "SQL City"

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   date   |  type  |                                                                                        description                                                                                        |   city   |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| 20180115 | murder | Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". | SQL City |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+

In [27]:
%%sql
SELECT * 
FROM person 
WHERE name LIKE "%Annabel%"

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+--------------------+------------+----------------+---------------------+-----------+
|   id  |        name        | license_id | address_number | address_street_name |    ssn    |
+-------+--------------------+------------+----------------+---------------------+-----------+
| 16371 |   Annabel Miller   |   490173   |      103       |     Franklin Ave    | 318771143 |
| 78354 |   Annabell Siona   |   158932   |      978       |    Whitewater Dr    | 800278294 |
| 78799 | Annabell Droneburg |   984316   |      1944      |     W Natalie Dr    | 478793500 |
| 86541 | Annabell Zwilling  |   709133   |      1859      |       Patti Rd      | 332961158 |
+-------+--------------------+------------+----------------+---------------------+-----------+

In [30]:
%%sql
SELECT * 
FROM person 
WHERE address_street_name LIKE "%Northwestern Dr%"
ORDER BY address_number DESC

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+---------------------+------------+----------------+---------------------+-----------+
|   id  |         name        | license_id | address_number | address_street_name |    ssn    |
+-------+---------------------+------------+----------------+---------------------+-----------+
| 14887 |    Morty Schapiro   |   118009   |      4919      |   Northwestern Dr   | 111564949 |
| 17729 |    Lasonya Wildey   |   439686   |      3824      |   Northwestern Dr   | 917817122 |
| 53890 |    Sophie Tiberio   |   957671   |      3755      |   Northwestern Dr   | 442830147 |
| 73368 |    Torie Thalmann   |   773862   |      3697      |   Northwestern Dr   | 341559436 |
| 96595 |    Coretta Cubie    |   303645   |      3631      |   Northwestern Dr   | 378403829 |
| 19420 |     Cody Schiel     |   890431   |      3524      |   Northwestern Dr   | 947110049 |
| 93509 |    Emmitt Aceuedo   |   916706   |      3491      |   Northwestern Dr   | 979073160 |
| 87456 | Leonora Wolfsberger |   215868   |      3483      |   Northwestern Dr   | 565203106 |
| 36378 |    Freddie Ellzey   |   267882   |      3449      |   Northwestern Dr   | 474117596 |
| 53076 |     Boris Bijou     |   664914   |      3327      |   Northwestern Dr   | 401191868 |
+-------+---------------------+------------+----------------+---------------------+-----------+
Truncated to displaylimit of 10.

In [34]:
%%sql
SELECT *
FROM interview 
WHERE person_id = "16371" OR person_id = "14887"

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                            transcript                                                                                                           |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W". |
|                                                      I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.                                                      |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [36]:
%%sql
SELECT id, name
FROM get_fit_now_member 
WHERE id like "48Z%" AND membership_status = "gold"

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+---------------+
|   id  |      name     |
+-------+---------------+
| 48Z7A |  Joe Germuska |
| 48Z55 | Jeremy Bowers |
+-------+---------------+

In [47]:
%%sql
SELECT 
  p.name, 
  p.address_number || ' ' || p.address_street_name AS address,
  dl.age, dl.height, dl.eye_color, dl.hair_color, dl.gender,
  dl.plate_number, dl.car_make, dl.car_model,
  gfc.check_in_date, gfc.check_in_time
FROM get_fit_now_check_in gfc
JOIN get_fit_now_member gfm ON gfc.membership_id = gfm.id
JOIN person p ON gfm.person_id = p.id
JOIN drivers_license dl ON p.license_id = dl.id
WHERE gfc.check_in_date IN (20180109) 
  AND gfc.membership_id like "48Z%"

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+---------------------------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+---------------+---------------+
|      name     |          address          | age | height | eye_color | hair_color | gender | plate_number |  car_make | car_model | check_in_date | check_in_time |
+---------------+---------------------------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+---------------+---------------+
| Jeremy Bowers | 530 Washington Pl, Apt 3A |  30 |   70   |   brown   |   brown    |  male  |    0H42W2    | Chevrolet |  Spark LS |    20180109   |      1530     |
+---------------+---------------------------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+---------------+---------------+

In [51]:
%%sql
SELECT i.transcript
FROM person p
JOIN interview i ON p.id = i.person_id
WHERE p.name = 'Jeremy Bowers';

Running query in 'sqlite:///sql-murder-mystery.db'

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                    transcript                                                                                                                    |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |
|                                                                                                                                                                                                                                                  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [68]:
%%sql
SELECT p.id, p.name
FROM person p
JOIN drivers_license dl ON p.license_id = dl.id
JOIN income i ON p.ssn = i.ssn
JOIN facebook_event_checkin fec ON p.id = fec.person_id
WHERE dl.gender = 'female'
  AND dl.hair_color = 'red'
  AND dl.car_make = 'Tesla'
  AND dl.car_model = 'Model S'
  AND dl.height BETWEEN 65 AND 67
  AND fec.event_name = 'SQL Symphony Concert'
  AND fec.date BETWEEN 20171201 AND 20171231
GROUP BY p.id, p.name
HAVING COUNT(fec.event_id) >= 3;

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+------------------+
|   id  |       name       |
+-------+------------------+
| 99716 | Miranda Priestly |
+-------+------------------+